* {
  font-family: "Rubik", sans-serif;
}
body {
  overflow-x: hidden;
}
a.nav-link {
  color: hsl(229, 31%, 21%);
}

.landing {
  height: calc(100vh - 56.5px);
  overflow-x: hidden;
}

.landing .btn {
  box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
}

.landing .img-cont {
  position: relative;
}

.landing .img-cont::after {
  content: "";
  top: 20%;
  right: -35%;
  width: 100%;
  height: 80%;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  border-radius: 100px;
}

.featuers .buttons {
  border-bottom: 1px solid hsl(229, 8%, 60%);
  width: 65%;
  margin: 0 auto;
}

.featuers button.btn {
  border: none;
  padding-bottom: 15px;
  color: hsl(229, 8%, 60%);
}

.featuers button.btn.active {
  position: relative;
  color: hsl(229, 31%, 21%);
}

.featuers button.btn.active::before {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: hsl(0, 94%, 66%);
  content: "";
  bottom: -1px;
  left: 0;
}

.featuers .img-cont {
  position: relative;
}

.featuers .img-cont::after {
  content: "";
  top: 25%;
  left: -35%;
  width: 100%;
  height: 80%;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  border-radius: 100px;
}

#second,
#third {
  display: none;
}

.card-body .btn.btn-primary {
  width: 109%;
  margin-left: -9px;
  margin-top: 30px;
}

.row.grid .card {
  width: 15rem;
  height: 300px;
  box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
  border: none;
  position: relative;
  overflow: hidden;
}

.row.grid .card::after {
  position: absolute;
  content: url(../images/bg-dots.svg);
  bottom: 88px;
}

.row.grid .card:nth-child(2) {
  top: 20px;
}
.row.grid .card:last-child {
  top: 40px;
}

.join {
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: 14px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-right: 15px;
  width: 25%;
}

.btn-danger {
  padding: 10px;
}

@media (max-width: 767px) {
  #lastUl {
    flex-direction: column;
  }
  #lastUl li {
    margin: 0 !important;
    margin-bottom: 15px !important;
  }
  .email {
    width: 100% !important;
  }
  p.info {
    width: 100% !important;
  }
  .featuers .container .row {
    flex-direction: column;
  }
  .featuers .buttons{
    border: none;
  }
}
@media (min-width: 768px) {
  p.info {
    width: 50% !important;
  }
}
